<div class="container">
    <h1>SAIL REGISTRATION SYSTEM</h1>
    <table>
        <tr>
            <th class="name">NAME</th>
            <th class="team">TEAM</th>
            <th class="stack">STACK</th>
            <th class="gender">GENDER</th>
            <th class="crud">CRUD</th>
        </tr>
        <tr>
            <td class="name">Fawaz ODESANYA</td>
            <td>Ruby Fire</td>
            <td>MERN</td>
            <td>Male</td>
            <td>
                <button>EDIT</button>
                <button>DELETE</button>
            </td>
        </tr>
    </table>
</div>