@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}


.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    position: absolute;
    top: 2rem;
    left: 5rem;
}

.register-form form {
    border: 2px solid;
    width: 30vw;
    min-height: 65vh;
    display:flex;
    flex-direction: column;
    padding: .5rem;
}

form div {
    margin: .8rem;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: 500;
}

form input {
    border: none;
    border-bottom: 1px solid;
    padding: .5rem;
    background: #fff;
    font-weight: 600;
    outline: none;
}

form button {
    border: 2px solid;
    background: #fff;
    font-weight: 600;
    width: 7rem;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

table {
    border: 1px solid black;
    width: 70vw;
    border-collapse: collapse;
}

table button {
    background-color: #FFF;
    border: none;
    cursor: pointer;
    color: blue;
    font-weight: 600;
}


th , td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
    text-align: center;}

td {
    background-color: #fff;
    color: rgb(87, 80, 80);
    font-weight: 600;
}

.name {
    width: 17rem;
    text-align: center;
}

.team{
    width: 11rem;
}